In [3]:
# List

In [13]:
names = ['salman','ahmed','ovais','rehan', 1, 2, 500.5]

In [16]:
print("Hello " + str(names[4]))

Hello 1

In [22]:
# Appending Data

In [23]:
students = []

In [28]:
students.append("Ovais")

In [29]:
print(students)

['Ahmed', 'Salman', 'Ovais']

In [39]:
students.insert(2, 40)

In [40]:
print(students)

['ABCD', 'ABCD', 40, 'ABCD', 'Ahmed', 'Salman', 'Ovais', 'Rehan']

In [41]:
# Getting Data

In [44]:
students[2:5]

[40, 'ABCD', 'Ahmed']

In [45]:
students

['ABCD', 'ABCD', 40, 'ABCD', 'Ahmed', 'Salman', 'Ovais', 'Rehan']

In [46]:
students[:5]

['ABCD', 'ABCD', 40, 'ABCD', 'Ahmed']

In [48]:
students[5:]

['Salman', 'Ovais', 'Rehan']

In [53]:
students

['ABCD', 'ABCD', 40, 'Salman', 'Ovais', 'Rehan']

In [58]:
del students[3]

In [59]:
print(students)

['ABCD', 'ABCD', 40]

In [61]:
students = ["Salman", "Ovais", "Rehan", "Haider", "Mavia"]

In [62]:
students.remove("Rehan")

In [63]:
students

['Salman', 'Ovais', 'Haider', 'Mavia']

In [64]:
deleted_element = students.pop(1)

In [65]:
print(students)

['Salman', 'Haider', 'Mavia']

In [66]:
deleted_element

'Ovais'

In [68]:
# insert
# append
# gettingData (with index number) (slicing)
# remove
# del
# pop