In [1]:
cities = ["Karachi", "Lahore", "Islamabad", "Quetta"]

In [2]:
cleanest_city = "Quetta"

In [6]:
if cleanest_city == cities[0]:
    print("Yes, Its one of the cleanest city")
    
elif cleanest_city == cities[1]:
    print("Yes, Its one of the cleanest city")
    
elif cleanest_city == cities[2]:
    print("Yes, Its one of the cleanest city")
    
elif cleanest_city == cities[3]:
    print("Yes, Its one of the cleanest city")

Yes, Its one of the cleanest city

In [11]:
for i in cities:
    if cleanest_city == i:
        print("Yes, Its one of the cleanest city")

Yes, Its one of the cleanest city

In [15]:
first_names = ["BlueRay ", "Upchuck ", "Lojack ", "Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]

for i in first_names:
    for j in last_names:
        print(i, j)

BlueRay  Zzz
BlueRay  Burp
BlueRay  Dogbone
BlueRay  Droop
Upchuck  Zzz
Upchuck  Burp
Upchuck  Dogbone
Upchuck  Droop
Lojack  Zzz
Lojack  Burp
Lojack  Dogbone
Lojack  Droop
Gizmo  Zzz
Gizmo  Burp
Gizmo  Dogbone
Gizmo  Droop
Do-Rag  Zzz
Do-Rag  Burp
Do-Rag  Dogbone
Do-Rag  Droop

In [35]:
cost = 200
selling_prices = [500,700,800,500,600]
total_profit = []

for price in selling_prices:
    profit = price - cost
    total_profit.append(profit)

In [36]:
total_profit

[300, 500, 600, 300, 400]

In [37]:
for i in total_profit:
    profit = profit + i

In [38]:
profit

2500

In [53]:
for i in range(1,11):
    print("2 * " + str(i) + " = " + str(i * 2))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [59]:
userInput = input("Enter Input")

Enter Input20

In [64]:
res = 2 + int(userInput)

In [65]:
res

22

In [73]:
name = "dhoraji"

In [75]:
name.upper()

'DHORAJI'

In [74]:
name.lower()

'dhoraji'

In [70]:
name.title()

'Dhoraji'

# Dictionaries

In [94]:
info = {
    "first_name" : "salman",
    "last_name" : "Abdul Zakir",
    "age" : 23
}

In [100]:
firstName = info["first_name"]
print(firstName)

salman

In [99]:
lastName = info["last_name"]
print(lastName)

Abdul Zakir

In [104]:
age = info["age"]
print(age)

23

In [105]:
dic = {
    1 : "Hello",
    2 : "World"
}

In [108]:
dic[2]

'World'

In [121]:
info = {
    "first_name" : "salman",
    "last_name" : "Abdul Zakir",
    "age" : 23
}

In [122]:
info["designation"] = "trainer"

In [123]:
info

{'first_name': 'salman',
 'last_name': 'Abdul Zakir',
 'age': 23,
 'designation': 'trainer'}

In [124]:
info["designation"] = "student"

In [113]:
info

{'first_name': 'salman',
 'last_name': 'Abdul Zakir',
 'age': 23,
 'designation': 'student'}

In [125]:
del info["designation"]

In [126]:
info

{'first_name': 'salman', 'last_name': 'Abdul Zakir', 'age': 23}